@import ".../../../../assets/scss/helpers/variables.scss";
@import ".../../../../assets/scss/helpers/grid.scss";

.storyWrapper {
  background-size: 100%;
  background-repeat: repeat;
  color: black;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter";
  position: relative;

  .back2 {
    position: absolute;
    top: 155vw;
    left: 0;
    width: 100%;
    height: 100vw;
    z-index: 10;
  }

  .back3 {
    position: absolute;
    top: 160vw;
    left: 0;
    width: 100%;
    height: 200vw;
    z-index: 10;
    background: linear-gradient(
      180deg,
      #12409400 0%,
      #124094ee 10%,
      #042a70 51.95%,
      rgba(5, 43, 113, 0.78) 71.66%,
      #16123c 102.06%,
      rgba(122, 122, 122, 0.478723) 107.84%
    );
  }

  .back4 {
    position: absolute;
    top: 360vw;
    left: 0;
    width: 100%;
    height: 150vw;
    z-index: 10;
    background: linear-gradient(180deg, #121745 1.27%, #ff8c73 49.07%);
  }

  .contentWrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .galleryImage {
      width: 100%;
    }

    @include md-width {
      flex-direction: row;
      margin-top: 8vw;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 10vw;

      .galleryImage {
        width: 24.5vw;
        margin-right: 7vw;
        margin-top: 3vw;
      }
    }

    .titleWrapper {
      font-family: Bicyclette;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 50px;
      text-align: center;
      width: 100%;

      color: $lightPink;
    }

    .textWrapper {
      padding-left: 5vw;
      padding-right: 5vw;
      z-index: 11;
      display: flex;
      flex-direction: column;

      h1 {
        font-family: Bicyclette;
        font-style: normal;
        font-weight: bold;
        font-size: 7.7vw;
        line-height: 82%;
        width: 100%;
        text-align: left;
        z-index: 11;

        color: $lightGray1;
      }

      h2 {
        margin-top: 5vw;
        font-family: Neuzeit Grotesk;
        font-style: normal;
        font-size: 1.2vw;
        line-height: 111%;
        width: 100%;
        text-align: center;
        z-index: 11;
        text-align: justify;

        color: $lightGray2;
      }
    }

    .description {
      z-index: 11;
      padding: 5%;
      font-family: Neuzeit Grotesk;
      font-size: 15px;
      font-size: 15px;
      text-align: justify;

      color: #ffe7de;
    }
  }

  .mobileOnly {
    @include md-width {
      display: none !important;
    }
  }

  .desktopOnly {
    display: none !important;
    @include md-width {
      display: flex !important;
    }
  }

  .events {
    border-top: 4px solid;
    border-image: linear-gradient(to right, #16123c, #042a70, #ff4e54, #ff846f)
      1;
    color: #c4c4c4;
    width: 100%;
    padding: 3vw 6vw;

    h3 {
      font-size: 5vw;
      background: -webkit-linear-gradient(#ff4e54, #ff8c73);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 1vw;
      margin-top: 1vw;
      flex-wrap: wrap;

      li {
        border: double 4px transparent;
        border-radius: 10px;
        background-image: linear-gradient(black, black),
          linear-gradient(135deg, #16123c, #042a70, #ff4e54, #ff846f);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        width: 15vw;
        height: 15vw;
        padding: 1vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .storyWrapper {
    .events {
      border-top: 3px solid;
      padding: 3vw 6vw;

      h3 {
        font-size: 50px;
      }

      ul {
        gap: 12px;
        margin-top: 12px;

        li {
          border: double 3px transparent;
          width: 300px;
          height: 300px;
          padding: 24px;
        }
      }
    }
  }
}
