@import "../../../../assets/scss/helpers/variables.scss";
@import "../../../../assets/scss/helpers/grid.scss";

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: black;

  cursor: url('/../images/cursor.svg'), auto;

  .cursor {
    width: 10px;
    height: 10px;
  }

  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.footerMenu {
  ul {
    width: 100%;

    li {
      width: 100%;
      display: block;
      border-top: 0.1vw solid;
      border-image: linear-gradient(
          to right,
          #16123c,
          #042a70,
          #ff4e54,
          #ff846f
        )
        1;

      &:last-child {
        border-bottom: 4px solid;
      }

      a {
        font-family: "Bicyclette";
        font-weight: 400;
        font-size: 10vw;
        line-height: 9vw;
        letter-spacing: -0.4vw;
        padding: 2vw 6vw;
        display: block;
      }

      @media (max-width: 768px) {
        border-width: 2px;
      }
    }
  }
}

.footerWrapper {
  color: white;
  max-width: 90%;
  margin: auto;
  padding-top: 57px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;

  .logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // mobile
    .imageLogo {
      width: 247px;
      height: 90.66px;
    }

    .logoDescription {
      background: linear-gradient(106.4deg, #16123C -43.69%, #FF4E54 -43.68%, #042A70 -24.57%, #FF8C73 92.03%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 0.95vw;
      margin-left: 2vw;
    }
  }

  // desktop
  @include md-width {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logoWrapper {
      align-items: flex-start;

      .imageLogo {
        width: 19.57vw;
        height: 7.86vw;
      }
    }
  }

  .centerWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    color: $lightPink;
    margin-bottom: 40px;
    width: 100%;

    // desktop
    @include md-width {
      flex-direction: row;
      justify-content: flex-end;
      margin-bottom: 0;
    }

    a {
      color: $lightPink;
    }

    .otherWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;

      .moreWrapper {
        // display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .followWrapper {
        width: 100%;
        // margin-left: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-size: 20px;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-left: 12px;
        }

        .content {
          
          ul {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }

      .touchWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-left: 8%;
        .title {
          font-size: 20px;
          margin-bottom: 10px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .title {
      font-family: Bicyclette;
      text-transform: uppercase;
      font-size: 16px;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      color: $lightPink;
      margin-top: 50px;

      // desktop
      @include md-width {
        font-size: 1.425vw;
        margin-bottom: 0.5vw;
        margin-top: 0;
        white-space: nowrap;
      }
    }

    .content {
      margin-bottom: 10px;
      font-size: 11px;
      margin-left: 0px;
      text-align: center;

      @include md-width {
        margin-bottom: 10px;
        font-size: 1.1vw;
        margin-left: 0;
      }
    }

    @include md-width {
      .otherWrapper {
        display: flex;
        flex-direction: row;
        width: 80%;

        .moreWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          // width: 25%;
          margin-left: 12%;
        }

        .followWrapper {
          align-items: flex-start;
          width: 50%;
          margin-left: 9%;

          .title {
            font-size: 1.425vw;
            margin-bottom: 0.5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }

        .touchWrapper {
          // width: 52%;
          align-items: flex-start;
          margin-left: 10%;

          .title {
            font-size: 1.425vw;
            margin-bottom: 0.5vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
