@import '.../../../../assets/scss/helpers/variables.scss';
@import '.../../../../assets/scss/helpers/grid.scss';

.eventsWrapper {
  background-size: 100%;
  background-repeat: repeat;
  color: black;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter';
  position: relative;


  cursor: url('/../images/cursor.svg'), auto;

  .cursor {
    width: 10px;
    height: 10px;
  }

  .contentWrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 80px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 768px) {
      display: block;
      overflow: overlay;
    }

    @include md-width {
      margin-top: 7.5vw;
    }

    

    .line {
      width: 100%;
      height: 0.2vw;
      background: linear-gradient(90deg, #16123C 0%, #042A70 35.42%, #FF4E54 67.71%, #FF846F 100%);
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 2vw;
    }
    
    .spaceEvents {
      z-index: 11;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vw;
      padding-bottom: 20vw;
      border-bottom: 0.1vw solid;
      border-image: linear-gradient(to right, #16123c, #042a70, #ff4e54, #ff846f) 1;

      .mapImage {
        width: 60%;
        margin-top: 30px;

        @include md-width {
          margin-top: 60px;
        }
      }

      .infoList {
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5vw;
        
        display: flex;

        @media (max-width: 768px) {
          display:block;
        }

        @include md-width {
          margin-left: 2%;
          display: grid;
          grid-template-columns: 87%;
          grid-gap: 5%;
          gap: 2%;
          justify-content: center;
        }

        .infoItem {
          font-family: 'Neuzeit Grotesk';

          line-height: 110%;
          height: 50px;
          text-align: left;

          font-size: 15px;
          color: $lightGray1;
          padding-top: 5%;
          padding-bottom: 5%;
          
          

          span {
            font-weight: 300;
            margin-right: 10px;
          }

          &.windowOnly {
            display: none;
          }

          @include md-width {
            font-weight: 300;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 1.23vw;
            height: 20px;
            &.windowOnly {
              display: block;
            }
          }

          .specsDownload {
            text-decoration-line: underline;
            text-transform: uppercase;
            font-family: 'Neuzeit Grotesk';

            text-decoration-color: #FF4E54;
            text-align: justify;
            background: transparent;
            color: transparent;
          }

          a {
            text-decoration-line: underline;
            text-transform: uppercase;
            font-family: 'Neuzeit Grotesk';
            color: #FF4E54;

            text-decoration-color: #FF4E54;
            text-align: justify;
            background: transparent;
            color: transparent;

            font-size: 12px;
            width: 100vw;

            &::before{
              position: absolute;
              content: "DOWNLOAD SPECS";
              background: linear-gradient(106.55deg, #FF4E54 -4.09%, #FF8C73 65.68%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;

           
            }

            img {
              width: 17px;
              height: 17px;
              margin-left: 5px;
            }

            @include md-width {
              font-size: 1.18vw;
              width: 17.86vw;

              img {
                width: 1.37vw;
                height: 1.37vw;
                margin-left: 0.5vw;
              }
            }
          }
        }

      }
    }


    .virtualTour {
      z-index: 11;
      // margin-top: 12vw;
      width: 100%;
      position: relative;

      .imgVirtualTour {
        margin-top: 5vw;
        margin-left: -1%;
        width: 102%;
        background: linear-gradient(106.55deg, #FF4E54 -4.09%, #FF8C73 65.68%);
        border-bottom: 0.2vw solid transparent;

        video {
          object-fit: cover;
        }
      }

      h1 {
        // margin-top: 8vw;
        width: 100%;

        @include md-width {
          padding-left: 10%;
          padding-right: 10%;
        }

        @media (max-width: 768px) {
          margin-top: 10vw;
          font-size: 10vw;
        }

        
      }

      a {
        inline-size: 19vw;
        overflow-wrap: break-word;
        position: absolute;
        left: 11.6vw;
        top: 6.6vw;
        font-family: 'Neuzeit Grotesk';
        

        text-decoration-line: underline;
        text-transform: uppercase;
        
        
        color: transparent;
        text-decoration-color: #FF4E54;
        text-align: justify;
        background: transparent;
        
        font-size: 1.2vw;
        line-height: 140%;

        &::before{
          position: absolute;
          content: "Walk the Space in 3D";
          background: linear-gradient(106.55deg, #FF4E54 -4.09%, #FF8C73 65.68%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }

        img {
          width: 1vw;
          height: 1vw;
          margin-left: 0.5vw;
        }


        @media (max-width: 768px) {
          top: 8.6vw;
          font-size: 1.8vw;
          white-space: nowrap;
        }
   
      }

    }

    .doubleDoors {
      inline-size: 23vw;
      overflow-wrap: break-word;
      position: absolute;
      left: 11.6vw;
      top: 8.6vw;
      font-family: 'Neuzeit Grotesk';
      text-transform: uppercase;
      
      background: linear-gradient(90deg, #FF5D5C -31.32%, #FE8C73 133.52%);      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      
      font-size: 0.8vw;
      line-height: 100%;

      @media (max-width: 768px) {
        margin-top: 2.9vw;
        font-size: 1.5vw;
        white-space: nowrap;
        inline-size: 40vw;
      }

    }

    .pastEvents {
      z-index: 11;
      margin-top: 5vw;
      width: 100%;

      .imgVirtualTour {
        margin-top: 10vw;
        width: 100%;
        
      }

      h1 {
        width: 100%;
        margin-top: 0;
        @include md-width {
          padding-left: 10%;
          padding-right: 10%;
        }
      }

      .eventList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 15%;
        padding-right: 15%;
        justify-items: center;
        // align-items: center;
        width: 100%;
        margin-top: 5vw;
        row-gap: 5vw;

        .bigPhotoItem {
          width: 36.47vw;
          height: 22.96vw;

          h1 {
            height: 2.9vw;
            font-size: 1.58vw !important;
          }
        }

        .smallPhotoItem {
          margin-top: 1vw;
          width: 30.41vw;
          height: 19.46vw;

          h1 {
            height: 2.1vw;
            font-size: 1.58vw !important;
          }
        }
      }

      padding-bottom: 8vw;
      border-bottom: 0.1vw solid;
      border-image: linear-gradient(to right, #16123c, #042a70, #ff4e54, #ff846f) 1;
    }


    .partners {
      z-index: 11;
      margin-top: 10vw;
      width: 100%;
      margin-bottom: 10vw;
      position: relative;

      .connectLink {
        position: absolute;
        top: 10vw;
        right: 11.73vw;

        text-decoration-line: underline;
        text-transform: uppercase;
        font-family: 'Neuzeit Grotesk';

        text-decoration-color: #FF4E54;
        text-align: justify;
        background: transparent;

        font-size: 1.18vw;

        &::before{
          position: absolute;
          content: "CONNECT WITH US";
          background: linear-gradient(106.55deg, #FF4E54 -4.09%, #FF8C73 65.68%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }

        img {
          width: 1.18vw;
          height: 1.18vw;
          margin-left: 1vw;
        }

        @media (max-width: 768px) {
          font-size: 1.6vw;
        }
      }

      .category {
        display: flex;
        flex-direction: column;

        .categoryItem {
          padding-left: 10%;
          padding-right: 10%;
          padding-top: 4vw;
          padding-bottom: 4vw;
          border-bottom: 0.1vw solid;
          border-image: linear-gradient(to right, #16123c, #042a70, #ff4e54, #ff846f) 1;

          .categoryName {
            font-family: 'Bicyclette';
            font-style: normal;
            font-weight: 700;
            font-size: 4.56vw;
            line-height: 100%;
            text-transform: uppercase;
            
            background: linear-gradient(90.37deg, #EC4B56 2.03%, #FF8A72 101.43%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }

          .partnerList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 5vw;
            column-gap: 5vw;

            .partnerItem {
              .partnerPhotoItem {
                h1 {
                  font-size: 1vw;
                  height: 1.2vw;
                  text-transform: uppercase;
                  left: 1.1vw;
                }
              }
            }
          }
        }
      }

    }

    .dropemail {
      
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vw;
      width: 100%;

      @media (max-width: 768px) {
        display: block;
      }

      // .multipleWindows {
      //   position: relative;
      //   width: 43vw;
      //   height: inherit;

      //   .window1 {
      //     position: absolute;
      //     left: 0;
      //     top: 0;
      //     width: 38.7vw;
      //     height: 20.9vw;

      //     &.slideOut {
      //       animation: slide-out1 1s forwards;
      //     }
      //   }

      //   .window2 {
      //     position: absolute;
      //     left: 0.88vw;
      //     top: 0.96vw;
      //     width: 38.7vw;
      //     height: 20.9vw;
      //     &.slideOut {
      //       animation: slide-out2 1s forwards;
      //       animation-delay: 0.1s;
      //     }
          
      //   }

      //   .window3 {
      //     position: absolute;
      //     left: calc(0.88vw * 2);
      //     top: calc(0.96vw * 2);
      //     width: 38.7vw;
      //     height: 20.9vw;
      //     &.slideOut {
      //       animation: slide-out3 1s forwards;
      //       animation-delay: 0.2s;
      //     }
      //   }

      //   .window4 {
      //     position: absolute;
      //     left: calc(0.88vw * 3);
      //     top: calc(0.96vw * 3);
      //     width: 38.7vw;
      //     height: 20.9vw;
      //     &.slideOut {
      //       animation: slide-out4 1s forwards;
      //       animation-delay: 0.3s;
      //     }
      //   }

      //   .window5 {
      //     position: absolute;
      //     left: calc(0.88vw * 4);
      //     top: calc(0.96vw * 4);
      //     width: 38.7vw;
      //     height: 20.9vw;
      //     &.slideOut {
      //       animation: slide-out5 1s forwards;
      //       animation-delay: 0.4s;
      //     }
      //   }

      //   .title {
      //     position: absolute;
      //     left: 4.78vw;
      //     top: 5.4vw;
      //     color: $lightGray1;
      //     font-family: 'Bicyclette';
      //     font-weight: 700;
      //     font-size: 1.66vw;
      //     line-height: 118%;
      //     &.slideOut {
      //       animation: slide-out5 1s forwards;
      //       animation-delay: 0.4s;
      //     }
      //   }

      //   .body {
      //     position: absolute;
      //     // border: 1px solid white;
      //     left: calc(0.88vw * 4 + 0.5vw);
      //     top: calc(0.96vw * 4 + 4vw);
      //     width: 37vw;
      //     height: 16vw;
      //     display: flex;
      //     flex-direction: column;
      //     justify-content: center;
      //     align-items: center;

      //     &.slideOut {
      //       animation: slide-out5 1s forwards;
      //       animation-delay: 0.4s;
      //     }

      //     .description {
      //       width: 50%;
      //       font-family: 'Neuzeit Grotesk';
      //       font-style: normal;
      //       font-weight: 400;
      //       font-size: 1.19vw;
      //       line-height: 150%;

      //       text-align: justify;
      //       color: $lightGray2;
      //     }
  
      //     .emailButton {
      //       width: 56%;
      //       color: $lightGray1;
      //       font-family: 'Bicyclette';
      //       font-style: normal;
      //       font-weight: 700;
      //       font-size: 1.6vw;
      //       display: flex;
      //       justify-content: center;
      //       align-items: center;
      //       margin-top: 1.5vw;
      //       background: linear-gradient(108.26deg, #042A70 25.08%, #FF4E54 79.05%, #FF8C73 98.32%);
      //       padding: 0.8vw 1.6vw;
      //       cursor: pointer;

      //       transition: 0.3s all;
      //       &:hover {
      //         transition: 0.3s all;
      //         transform: scale(1.01);
      //       }
      //     }
      //   }
        
        
      // }
      .Wrapper {
        width: 100vw;
        display: flex;
        color: #d7d7d7;
        margin-top: 0vw;

        @media (max-width: 768px) {
          margin-bottom: 20vw;
          height: 100vh;
          display: block;
        }
      
        .titleWrapper {
          width: 40%;
          padding: 0 4vw 0 8vw;

          @media (max-width: 768px) {
            width: 100%;
          }
        
      
          p {
            font-family: "NeuzeitGroteskW01-Regular";
            font-style: normal;
            font-weight: 400;
            margin-bottom: 1vw;
          }
      
          h1 {
            font-family: "Bicyclette";
            font-style: normal;
            font-weight: 700;
            font-size: 10vw;
            line-height: 8vw;
            letter-spacing: -0.07em;
            text-transform: uppercase;
            margin-left: -2.8vw;

            @media (max-width: 768px) {
              margin-left: -7.8vw;
            }
      
            span {
              background: -webkit-linear-gradient(#ff4e54, #ff4e54, #ff8c73);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              letter-spacing: 0;
            }
          }
        }
      
        .formWrapper {
          width: 60%;
          padding: 2vw 2vw;

          @media (max-width: 768px) {
            width: 100%;
            margin-left: -13.8vh;
            margin-top: 2vw;
            margin-bottom: 2vw;
          }
      
          .messageForm {
            width: 40vw;
            margin: 0 auto;

            @media (max-width: 768px) {
              margin-left: 24vh;
              width: 70vw;
            }
      
            & > * {
              width: 100%;
            }
      
            div.formRow,
            textarea {
              margin-bottom: 1vw;
            }
      
            div.between {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 1vw;

              @media (max-width: 768px) {
                gap: 3vw;
              }
      
              & > * {
                max-width: 100%;
              }
            }
      
            p {
              text-transform: uppercase;
              font-family: "Bicyclette";
              font-style: normal;
              font-weight: 900;
              margin-top: 5vw;
              margin-bottom: 0.5vw;
      
              &.messageTitle {
                margin-top: 2vw;
              }
            }
      
            input,
            textarea {
              border: double 2px transparent;
              padding: 8px;
              border-radius: 8px;
              background-image: linear-gradient(black, black),
                linear-gradient(#ff4e54, #ff4e54, #ff8c73);
              background-origin: border-box;
              background-clip: padding-box, border-box;
              resize: none;
              outline: none;
              caret-color: #ffe7de;
              color: #ffe7de;
      
              &::-webkit-input-placeholder {
                color: #bba39a;
              }
            }
      
            textarea {
              height: 12vw;
            }
      
            .buttonGroup {
              display: flex;
              justify-content: flex-end;
      
              .button {
                border: double 2px transparent;
                padding: 12px 20px 8px;
                border-radius: 8px;
                background-image: linear-gradient(black, black),
                  linear-gradient(to right, #16123c, #042a70, #ff4e54, #ff846f);
                background-origin: border-box;
                background-clip: padding-box, border-box;
                font-family: "Bicyclette";
                font-style: normal;
                font-weight: 700;
                color: #ffe7de;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }


// Additions
    h1 {
      font-family: Bicyclette;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 90%;
      width: 100%;
      text-align: left;
      z-index: 11;
      
      color: $lightGray1;
      padding-left: 10%;
      padding-right: 10%;

      @include md-width {
        font-size: 7.6vw;
      }

      @media (max-width: 768px) {
        font-size: 8vw;
      }
    }

    h3 {
      color: $lightGray1;
      font-family: Neuzeit Grotesk;
      padding-left: 10%;
      padding-right: 10%;

      @include md-width {

        font-size: 1vw;
        margin-left: 0.5vw;
        margin-bottom: 0.5vw;
      }
    }
    
    div.modalContent {
      display: flex;
      flex-direction: column;
      color: #d7d7d7;
      padding: 50px 0 16px;
      text-align: center;
      align-items: center;
    
      h2 {
        font-family: "Bicyclette";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        width: 400px;
        max-width: 100%;
      }
    
      p {
        font-family: "NeuzeitGroteskW01-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2;
      }
    
      img {
        margin-top: 50px;
        width: 50px;
      }
    }
    
    @media (max-width: 768px) {
      .Wrapper {
        flex-direction: column;
        margin-top: 30vw;
    
        .titleWrapper {
          width: 280px;
          max-width: 90%;
          margin: 0 auto;
          padding: 0;
    
          p {
            font-size: 16px;
          }
    
          h1 {
            font-size: 80px;
            line-height: 0.8;
          }
        }
    
        .formWrapper {
          width: 600px;
          max-width: 95%;
          padding: 0 2vw;
          margin: 20vw auto;
    
          .messageForm {
            width: 100%;
    
            div.formRow {
              margin-bottom: 12px;
            }
    
            div.between {
              gap: 12px;
            }
    
            textarea {
              height: 150px;
            }
          }
        }
      }
    }
    


  }
}

.sliderButton {
  background: transparent;
  border: none;
  outline: none;
  width: 5vw;
  padding: 1vw;
  display: none;

  @include md-width {
    display: block;
  }
}

@keyframes slide-out1 {
  0% {left: 0}
  10% {left: 10vw;}
  100% { left: -100vw; }
}
@keyframes slide-out2 {
  0% {left: 0.88vw;}
  10% {left: 10.88vw;}
  100% { left: -100vw; }
}
@keyframes slide-out3 {
  0% {left: calc(0.88vw * 2);}
  10% {left: calc(10vw + 0.88vw * 2);}
  100% { left: -100vw; }
}
@keyframes slide-out4 {
  0% {left: calc(0.88vw * 3);}
  10% {left: calc(10vw + 0.88vw * 3);}
  100% { left: -100vw; }
}
@keyframes slide-out5 {
  0% {left: calc(0.88vw * 5);}
  10% {left: calc(10vw + 0.88vw * 4);}
  100% { left: -100vw; }
}
// @keyframes slide-out1 {
//   0% {left: 0}
//   10% {left: 10vw;}
//   100% { left: -100vw; }
// }
// @keyframes slide-out1 {
//   0% {left: 0}
//   10% {left: 10vw;}
//   100% { left: -100vw; }
// }