@import '.../../../../../assets/scss/helpers/variables.scss';
@import '.../../../../../assets/scss/helpers/grid.scss';

.storyWrapper {
  background-size: 100%;
  background-repeat: repeat;
  color: black;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter';
  position: relative;


  // .back1 {
  //   position: absolute;
  //   top: 80vw;
  //   left: 0;
  //   width: 100%;
  //   height: 100vw;
  //   background: linear-gradient(180deg, #000000 1.27%, #9F9D9D 15.67%, #FFFFFF 32.37%, #FFFFFF 107.19%, rgba(255, 255, 255, 0.668279) 111.85%);
    
  //   z-index: 10;    
  // }

  .back2 {
    position: absolute;
    top: 155vw;
    left: 0;
    width: 100%;
    height: 100vw;
    z-index: 10;
    // background: linear-gradient(180deg, #12409455 0%, #12409455 13.7%, rgba(47, 80, 143, 0.63) 57.55%, #0B3581 75.81%);
  }

  .back3 {
    position: absolute;
    top: 160vw;
    left: 0;
    width: 100%;
    height: 200vw;
    z-index: 10;
    // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 13.7%, rgba(47, 80, 143, 0.63) 57.55%, #0B3581 75.81%);
    // background: linear-gradient(180deg, #12409400 0%, #124094EE 10%, #042A70 51.95%, rgba(5, 43, 113, 0.78) 71.66%, #16123C 102.06%, #0B3581 75.81%);
    background: linear-gradient(180deg, #12409400 0%, #124094EE 10%, #042A70 51.95%, rgba(5, 43, 113, 0.78) 71.66%, #16123C 102.06%, rgba(122, 122, 122, 0.478723) 107.84%);
  }

  .back4 {
    position: absolute;
    top: 360vw;
    left: 0;
    width: 100%;
    height: 150vw;
    z-index: 10;
    background: linear-gradient(180deg, #121745 1.27%, #FF8C73 49.07%);    
  }
  
  .titleWrapper {
    font-family: Bicyclette;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    z-index: 11;
    color: $lightPink;
    position: absolute;
    top: 40vw;

    @include md-width {
      font-size: 7vw;
      margin-top: 15vw;
      position: relative;
      top: 0;
    }
  }

  .contentWrapper {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .galleryImage {
      width: 100%;
      img {
        width: 100%;
      }
    }

    @include md-width {
      flex-direction: row;
      margin-top: 5vw;
      padding-left: 10%;
      padding-right: 10%;

      .galleryImage {
        width: 50vw;
        img {
          width: 50vw;
        }
      }
    }



    .textWrapper {
      padding-left: 9vw;
      padding-right: 5vw;
      z-index: 11;
      display: flex;
      flex-direction: column;

      h2 {
        // margin-top: 2vw;
        font-family: Neuzeit Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 1.6vw;
        line-height: 1.9vw;
        width: 100%;
        text-align: center;
        z-index: 11;
        text-align: justify;
        
        color: $lightPink;        
      }
    }

    .description {
      z-index: 11;
      padding: 5%;
      font-family: Neuzeit Grotesk;
      font-size: 15px;
      font-size: 15px;
      text-align: justify;

      color: #FFE7DE;
    }
  }

  .mobileOnly {
    @include md-width {
      display: none !important;
    }
  }

  .desktopOnly {
    display: none !important;
    @include md-width {
      display: flex !important;
    }
  }
}