@import "../../assets/scss/helpers/helpers.scss";

.wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 300;
}

.modal {
  background: url("/images/modal.png") no-repeat;
  background-size: 100% 100%;
  padding: 48px;
  position: relative;
  width: 840px;
  max-width: 95vw;
  margin: 200px auto;
  word-break: break-word;
  box-sizing: border-box;

  & p,
  & span,
  & button,
  & a {
    color: white !important;
  }
}

.closeIcon {
  @include reset-button();
  @include active();
  position: absolute;
  right: 32px;
  top: 32px;
  font-size: 30px;
}

.crossIcon {
  width: 34px;
  height: 34px;
}

.title {
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 44px;
  margin-top: 20px;
  text-align: center;
}

.modalBodyText {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}
