@import "../../../../assets/scss/helpers/variables.scss";
@import "../../../../assets/scss/helpers/grid.scss";

.navigationBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
  padding: 0px 0px;

  .hamburgerButton {
    cursor: pointer;
    img {
      height: 9.5vw;
      width: 9.5vw;
    }

    @include md-width {
      display: none;
    }
  }

  .navigationMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    li.navigationMenuItem {
      font-family: Bicyclette;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      position: relative;

      a {
        cursor: pointer;
        color: $lightGray1;
        text-align: right;
        padding: 4px;
        border-radius: 10px;

        span {
          display: block;
          padding: 10px 16px;
          border-radius: 8px;
        }
      }

      a:hover {
        background: linear-gradient(
          to right,
          #16123c,
          #042a70,
          #ff4e54,
          #ff846f
        );

        span {
          background: black;
        }
      }
    }
  }

  &.showMenu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 20px;

    .hamburgerButton {
      img {
        height: 7vw;
        width: 7vw;
      }
    }

    .navigationMenu {
      display: flex;
    }
  }

  @include md-width {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: transparent;
    padding: 0px 0px;

    .navigationMenu {
      display: flex;
      flex-direction: row;
      width: fit-content;
      margin-top: 0;

      li.navigationMenuItem {
        font-size: 1.425vw;
        margin-left: 2vw;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;

        a {
          text-align: left;
        }

        .subMenu {
          display: none;
          position: absolute;
          background-color: $lightPink;
          font-size: 2vw;
          width: 100%;

          .subMenuItem {
            padding: 0.5vw 1vw;

            a {
              font-size: 1.125vw;
              line-height: 0.5vw;
              color: black;
            }

            &:hover {
              background: black;
              a {
                text-align: left;
                color: $lightPink;
              }
            }
          }
        }
      }
    }

    &.showMenu {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      background: transparent;
    }
  }
}
