$primary-font: "inter";
$black: #111; 

$lightGray1: #D7D7D7; 
$lightGray2: #C4C4C4; 
$lightGray3: #f0f0f0; 
$darkGray1: #b6b6b6; 
$darkGray2: #9e9e9e; 
$darkGray3: #999999; 

$sm-width: 640px;
$md-width: 980px;
$lg-width: 1440px;

$lightPink: #FFE7DE;
$lightPinkTransparent: #FFE7DE55;
$darkBlue1: #042A70;
$darkBlue2: #16123C;
$orange1: #FF8C73;
$orange2: #FF4E54;

